APP_NAME="Sahabat Nara"
APP_ENV="production"
APP_BASE_URL=""
APP_KEY="ganti-dengan-key-acak"
ADMIN_EMAIL="admin@nara-hr.com"
WHATSAPP_NUMBER="6281234567890"

DB_HOST="localhost"
DB_USER="root"
DB_PASS=""
DB_NAME="sahabat_nara"
